<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Home Page</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<div th:fragment="navbar" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/channel"><strong>Channel</strong></a></li>
        <li><a href="/package"><strong>Package</strong></a></li>
        <li><a href="/subscription"><strong>Subscription</strong></a></li>
        <li><a href="/channel"><strong>New Channel</strong></a></li>
      </ul>
      </div>
    </div>
</body>
</html>